<section class="px-4 py-4 bg-gray-100">
  <h1 class="font-bold text-red-500 text-3xl mb-6">{{ title }}</h1>
  <div class="grid grid-cols-3 gap-3" [formGroup]="myForm">
    <div class="col-span-3 sm:col-span-2">
      <label for="company-website" class="block font-medium text-gray-700">
        FirstName
      </label>
      <div class="mt-1 flex rounded-md shadow-sm">
        <input formControlName="firstName" type="text"
          class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md  border-gray-300 h-10 p-4" />
      </div>
    </div>
    <div class="col-span-3 sm:col-span-2">
      <label for="company-website" class="block font-medium text-gray-700">
        Lastname
      </label>
      <div class="mt-1 flex rounded-md shadow-sm">
        <input formControlName="lastName" type="text"
          class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md  border-gray-300 h-10 p-4" />
      </div>
    </div>
    <div class="col-span-3 sm:col-span-2">
      <label for="company-website" class="block font-medium text-gray-700">
        Position
      </label>
      <div class="mt-1 flex rounded-md shadow-sm">
        <input formControlName="position" type="text"
          class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md  border-gray-300 h-10 p-4" />
      </div>
    </div>
    <div class="col-span-3 sm:col-span-2">
      <button [disabled]="myForm.invalid" [ngClass]="{'opacity-50 cursor-not-allowed' : myForm.invalid}"
        class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        (click)="formSubmit()">Submit</button>
    </div>
  </div>
  <div *ngIf="loading">
    Loading...
  </div>
  <div *ngIf="error">
    Error :(
  </div>
  <div *ngIf="profiles" class="h-full overflow-scroll border">
    <div *ngFor="let p of profiles" class="bg-white my-2 rounded p-4">
      <div class="text-green-600">{{ p?.firstName }}: {{ p?.lastName }}</div>
      <b class="text-blue-700">{{p?.position}}</b>
      <div>
        <button class="text-sm bg-red-500 text-white px-2 rounded-md" (click)="onDelete(p.id)">delete</button>
      </div>
    </div>
  </div>
</section>
